{% extends 'base.html' %}

{% block content %}
<style>
    .btn-voltar {
        background-color: #e0e0e0;
        color: #000;
    }

    .btn-voltar:hover {
        background-color: #9c9a9a;
        color: #000;
    }

    .btn-editar {
        background-color: #f7e088;
        color: #000;
    }

    .btn-editar:hover {
        background-color: #f7fa4a;
        color: #000;
    }

    .btn-excluir {
        background-color: #e86e6e;
        color: #fff;
    }

    .btn-excluir:hover {
        background-color: #d43322;
        color: #fff;
    }

    .table-header-azul {
        background-color: #5BC0EB;
        color: white;
    }
</style>

<div class="container mt-4">
    <a href="{{ url_for('routes.dashboard') }}" class="btn btn-voltar mb-3">🔙 Voltar Painel Administrativo</a>
    <h2 class="mb-4">📋 Salas Cadastradas</h2>
    <a href="{{ url_for('routes.cadastrar_sala') }}" class="btn btn-primary mb-3">➕ Nova Sala</a>

    <div class="table-responsive rounded shadow-sm border">
        <table class="table table-striped table-bordered text-center align-middle mb-0">
            <thead class="table-header-azul">
                <tr>
                    <th>Nome</th>
                    <th>Ano</th>
                    <th>Capacidade</th>
                    <th>Alunos Cadastrados</th>
                    <th>Vagas</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for sala in salas %}
                <tr>
                    <td>{{ sala.nome }}</td>
                    <td>{{ sala.ano }}</td>
                    <td>{{ sala.capacidade }}</td>
                    <td>{{ sala.qtd_alunos }}</td>
                    <td>{{ sala.capacidade - sala.qtd_alunos }}</td>
                    <td>
                        <a href="{{ url_for('routes.editar_sala', sala_id=sala.id) }}" class="btn btn-editar btn-sm">✏️ Editar</a>
                        <form method="POST" action="{{ url_for('routes.excluir_sala', sala_id=sala.id) }}" style="display:inline;">
                            <button class="btn btn-excluir btn-sm" onclick="return confirm('Confirma exclusão da sala?')">🗑️ Excluir</button>
                        </form>
                        <a href="{{ url_for('routes.visualizar_alunos_da_sala', sala_id=sala.id) }}" class="btn btn-info btn-sm">👥 Alunos</a>
                        <a href="{{ url_for('routes.visualizar_horario_sala', sala_id=sala.id) }}" class="btn btn-primary btn-sm">📘 Ver Horário</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

