<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Horários</title>
    <!-- Adicionando Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin-top: 100px;
        }
        .logo {
            width: 300px;
            height: 300px;
        }
        .btn-custom {
            width: 100%;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo mb-3" alt="Logo da Escola">
        <h1 class="mb-4">Gestão de Horários</h1>
        <a href="/login" class="btn btn-primary btn-custom">Login</a>
        <a href="/cadastro" class="btn btn-success btn-custom">Cadastrar Usuário</a>
    </div>
</body>
</html>